<footer class="page-footer red">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <!-- <h5 class="white-text">Footer Content</h5> -->
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h6 class="white-text">Our Sponsors</h6>
          <span>
            <a class="grey-text text-lighten-3" href="https://github.com/jtamsut"><i class="small material-icons">high_quality</i>Nmste</a>
          </span>
          &nbsp;
          &nbsp;
          <span>
            <a class="grey-text text-lighten-3" href="https://github.com/jim-clark"><i class="small material-icons">assignment_ind</i>GyTh</a>
          </span>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright
      <a class="grey-text text-lighten-4 right" href="https://www.zomato.com/"><i class="material-icons">star</i></a>
    </div>
  </div>
</footer>
</html>
