<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input name="" placeholder="Name" id="venue_name" type="text" class="validate">
        <label for="venue_name">Venue Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="" placeholder="Address" id="address" type="text" class="validate">
        <label for="address">Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input name="" placeholder="Latitude" id="latitude" type="text" class="validate">
        <label for="latitude">Latitude</label>
      </div>
      <div class="input-field col s6">
        <input name="" placeholder="Longitude" id="longitude" type="text" class="validate">
        <label for="longitude">Longitude</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input name="" placeholder="URL" id="url" type="url" class="validate">
        <label for="url">Website</label>
      </div>
    </div>
    <input class="btn waves-effect waves-light" type="submit" value="Submit">
  </form>
</div>
