<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
  <ul id="dropdown1" class="dropdown-content red darken-3">
    <li><a href="#!">Favorites</a></li>
    <li><a href="#!">Reviews</a></li>
    <li class="divider"></li>
    <li><a href="#!">Events</a></li>
  </ul>
  <div class="nav-wrapper red darken-3">
    <a href="#!" class="brand-logo"><img width="100" src="http://i.imgur.com/La2pjx5.png" alt="Meal Ticket"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons right">store</i></a></li>
      <li><a href="#"><i class="material-icons right">search</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons right">view_headline</i></a></li>
    </ul>
  </div>
</nav>
