<%- include ./partials/_head %>
  <div id="topbanner" class="row">
    <div class="col s4" ><a href="#"><img width="480" height="380" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a></div>
    <div class="col s4" ><a href="#"><img width="480" height="380" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a></div>
    <div class="col s4" ><a href="#"><img width="480" height="380" src="http://i.imgur.com/o3bWl82.jpg" alt=""></a></div>
  </div>
  &nbsp;
  <nav class="main-nav">
    <div class="nav-wrapper red darken-3">
    <a href="/" class="brand-logo center"><img width="100" src="http://i.imgur.com/La2pjx5.png" alt="Meal Ticket"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Reviews</a></li>
        <li><a href="/venues">Venues</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Close By</a></li>
      </ul>
    </div>
  </nav>
  &nbsp;
  <div class="row">
   <h4 class="card-title">What's New</h4>
    <div class="col s7">
        <ul>
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img src="images/sample-1.jpg">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
          &nbsp;
          <li>
            <div class="card-panel hoverable">
              <div class="card-image">
               <img src="images/sample-1.jpg">
              </div>
              <div class="card-content">
               <p>placeholder text</p>
              </div>
              <div class="card-action">
               <a href="#">placeholder link</a>
              </div>
            </div>
          </li>
          &nbsp;
    </div>
      <div class="col s5">
        <div class="container">
        <h5>Local EATS!</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi pariatur voluptates temporibus, neque veniam praesentium saepe, ad sed! Perspiciatis, sunt sed odio earum iure voluptatibus vel nulla delectus consequuntur aut.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
