<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Meal Ticket</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>
<body>
  <%- include ./partials/_nav  %>
  <div class="row">
    <div class="col s12 m8">
      <div class="card">
        <h1><%= restaurant.name %></h1>
        <div class="chip">Average Cost: $<%=restaurant.avecost%></div>
        <div class="chip"><%= restaurant.cuisine%></div>
        <div><p>Show Page for Restaurant</p></div>
        <!-- need to update link -->
        <a href="/venue">Back To List</a>
      </div>
    </div>
  </div>
</body>
</html>
