body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.card-title {
  margin-left: 10px;
}

.card-image {
  width: 300px;
  height: 200px;
  background-color: rgb(200, 200, 200);
}

.title {
  color: rgb(198, 40, 40);
  padding: 5px;
  text-align: center;
}

#local-table {
  background-color: rgb(242, 242, 242);
  padding: 20px;
}

#map {
  width: 100%;
  height: 80vh;
  background-color: grey;
}

