body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
  font-family: 'Quicksand', sans-serif;
}

.card-title {
  margin-left: 10px;
}

.brand-logo {
  clip: auto;
}
