body {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
}

footer {
  margin-top: 50px;
}

a {
  color: #00B7FF;
}

.container {
  padding: 10px;
}

.card-title {
  margin-left: 10px;
}

.card-image {
  background-color: rgb(200, 200, 200);
  background-size: auto;
}

.title {
  color: rgb(198, 40, 40);
  padding: 5px;
  text-align: center;
}

#local-table {
  background-color: rgb(242, 242, 242);
  padding: 20px;
}

#map {
  width: 100%;
  height: 80vh;
  background-color: grey;
}

.input-field {
  width: 500px;
}

#hero {
  width: 100%;
  height: 50vh;
}

